@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

:root {
    --main-blue: #2B4E72;
    --2nd-blue: #2790B0;
    --main-red: #E32D40;
    --main-yellow: #FFC52C;
    --main-white: #f0f0f0;
    --main-grey: #4E4D4A;
    --dark-grey: #353432;
    --main-purple: #5F5AA2;
    --main-orange: #FA4B00;
    --main-green: #59B390;
    --2nd-green: #BDEB07;
    --main-pink: #F31578;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Electrolize', sans-serif;
}

p {
    margin: -1px 0px;
}

.header {
  background: url('../constants/mainblack.png');
  padding: 10px;
}

.my-face {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.month, .day, .year, .time {
  position: absolute;
  font-family: 'Fredoka One', cursive;
  color: var(--main-green);
}

.month {
  top: 15px;
  left: 25px;
  font-size: 1.9em;
}

.day {
  top: 45px;
  left: 40px;
  font-size: 1.9em;
}

.year {
  top: 34px;
  left: 80px;
  transform: rotate(270deg);
  font-size: 1.5em;
}

.time {
  top: 20px;
  right: 20px;
  font-size: 1.5em;
}

.contact-holder {
  background: var(--main-blue);
  overflow: hidden;
  padding: 10px 0px;
}

.name, .number, .email, .linkedin, .github {
  color: var(--main-white);
}

.name {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 4em;
  font-family: 'Electrolize', sans-serif;
  font-weight: 900;
  text-shadow: 0px 2px 0px var(--2nd-blue),
               0px 10px 10px #232323,
               0px 20px 2px rgba(0,0,0,0.1),
               0px 30px 30px rgba(0,0,0,0.1);
}

.linkedin, .github {
  color: var(--main-yellow);
}

.github:hover {
  color: black;
  cursor: url('../constants/github.png'), default;
}

.linkedin:hover {
  color: black;
  cursor: url('../constants/linkedin.png'), default;
}

.number, .email, .linkedin, .github {
  font-size: x-large;
}

.my-bio {
  background: white;
  padding: 10px 0px;
}

.bio-text {
}

.bio-img {
  height: 350px;
  width: 193px;
}

.bio-img:hover {
  content: url('../constants/captain.png');
}

.doc-show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doc-hide {
  display: none;
}

.resume-button {
  background: var(--main-white);
  color: var(--main-red);
  font-size: x-large;
  margin: auto;
  padding-top: 5px;
}

.resume-button:hover {
  cursor: s-resize;
}

#button-hide {
  background: var(--main-red);
  color: var(--main-white);
}

#button-hide:hover {
  cursor: n-resize;
}

.projects-holder {
  background: var(--main-green);
  color: var(--main-white);
  overflow: hidden;
  padding: 50px 0px;
}

.project-title {
  margin-top: -30px;
  margin-bottom: 10px;
}

.project-to-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 0%;
}

.project-container {
  background: var(--main-green);
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
}

.project-path {
  color: var(--main-yellow);
  font-size: 22px;
  border-right: 1px solid black;
  padding: 0px 30px;
}

.project-path:first-child {
  padding-left: 0px;
}

.project-path:last-child {
  border: none;
  padding-right: 0px;
}

.project-path:hover{
  color: black;
}

.logo-container {
  background: url('../constants/mainblack.png');
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.logo-holder {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  width: 50%;
  height: 0%;
}

.logo {
  height: 40px;
}
