@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

:root {
    --main-blue: #2B4E72;
    --2nd-blue: #2790B0;
    --main-red: #E32D40;
    --main-yellow: #FFC52C;
    --main-white: #f0f0f0;
    --main-grey: #4E4D4A;
    --dark-grey: #353432;
    --main-purple: #5F5AA2;
    --main-orange: #FA4B00;
    --main-green: #59B390;
    --2nd-green: #BDEB07;
    --main-pink: #F31578;
}

body {
  font-family: 'Electrolize', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: -1px 0px;
}

.header {
  background: url('../constants/mainblack.png');
  padding: 10px;
}

.my-face {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.month, .day, .year, .time {
  color: var(--main-green);
  font-family: 'Fredoka One', cursive;
  position: absolute;
}

#dark.month, #dark.day, #dark.year, #dark.time { color: var(--main-orange); }

.month {
  font-size: 1.9em;
  left: 25px;
  top: 15px;
}

.day {
  font-size: 1.9em;
  left: 40px;
  top: 45px;
}

.year {
  font-size: 1.5em;
  left: 80px;
  top: 34px;
  transform: rotate(270deg);
}

.time {
  font-size: 1.5em;
  right: 20px;
  top: 20px;
}

.theme-choice {
  color: var(--main-green);
}

.contact-holder {
  background: var(--main-blue);
  overflow: hidden;
  padding: 10px 0px;
}

#dark.contact-holder { background: var(--main-purple); }

#spring.contact-holder { background: var(--main-orange); }


.name, .number, .email, .linkedin, .github {
  color: var(--main-white);
}

.name {
  font-family: 'Electrolize', sans-serif;
  font-size: 4em;
  font-weight: 900;
  text-shadow: 0px 2px 0px var(--2nd-blue),
               0px 10px 10px #232323,
               0px 20px 2px rgba(0,0,0,0.1),
               0px 30px 30px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  margin-top: 30px;
}

.linkedin, .github {
  color: var(--main-yellow);
}

.github:hover {
  color: black;
  cursor: url('../constants/github.png'), default;
}

.linkedin:hover {
  color: black;
  cursor: url('../constants/linkedin.png'), default;
}

.number, .email, .linkedin, .github {
  font-size: x-large;
}

.my-bio {
  background: white;
  padding: 10px 0px;
}

#dark.my-bio { background: var(--dark-grey); color: var(--main-white); padding: 0px 40px; }

.bio-text {
}

.bio-img {
  height: 350px;
  width: 193px;
}

.bio-img:hover {
  content: url('../constants/captain.png');
}

.doc-show {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.doc-hide {
  display: none;
}

.resume-button {
  background: var(--main-white);
  color: var(--main-red);
  font-size: x-large;
  margin: auto;
  padding-top: 5px;
}

.resume-button:hover {
  cursor: s-resize;
}

#button-hide {
  background: var(--main-red);
  color: var(--main-white);
}

#button-hide:hover {
  cursor: n-resize;
}

.projects-holder {
  background: var(--main-green);
  color: var(--main-white);
  overflow: hidden;
  padding: 50px 0px;
}

.project-title {
  font-family: 'Electrolize', sans-serif;
  margin-bottom: 10px;
  margin-top: -30px;
}

.project-to-images {
  display: block;
  height: 0%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.project-container {
  background: var(--main-green);
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  padding-bottom: 80px;
}

.project-path {
  border-right: 1px solid black;
  color: var(--main-yellow);
  font-size: 22px;
  padding: 0px 30px;
}

.project-path:first-child {
  padding-left: 0px;
}

.project-path:last-child {
  border: none;
  padding-right: 0px;
}

.project-path:hover{
  color: black;
}

.logo-container {
  background: url('../constants/mainblack.png');
  padding-bottom: 40px;
}

.logo-title {
  font-family: 'Electrolize', sans-serif;
  color: white;
  margin-bottom: 10px;
  margin-top: -30px;
}
